<h1>Web Shell</h1>
<div id="shell">
    <div title><span class="ico-bar"><i class="min"></i><i class="max"></i><i class="close"></i></span></div>
    <div content>
        <pre class="output"></pre>
        <div class="input-line">
            <input id="input" />
        </div>
    </div>
</div>
